.wrapper {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    padding: 5rem;
    width: 75%;
    margin: 0 auto;
    @media (max-width: 1024px) {
        width: 85%;
        padding: 3rem;
        gap: 3rem;
    }
    @media (max-width: 768px) {
        width: 95%;
        padding: 1rem;
    }
}

.header {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.header h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 5rem;
    text-align: center;
}

.header p {
    text-align: center;
    line-height: 1.75;
    font-size: 1.25rem;
}

.values {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.5;
    margin: 0 auto;
    font-size: 1.25rem;
    background-color: var(--color-secondary);
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
}

.values ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.values ul li {
    font-size: 1.15rem;
    display: flex;
    gap: 0.5rem;
}

.promise {
    display: flex;
    flex-direction: column;
    background-color: rgba(234, 179, 8, 0.1);
    padding: 2rem;
    border-radius: 1rem;
    gap: 1rem;
    width: 100%;
    @media (max-width: 768px) {
        margin-bottom: 1rem;
    }
}

.promise h2 {
    color: var(--color-accent);
}

.promise p {
    line-height: 1.5;
    color: var(--color-white);
}
