.wrapper {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 4rem;
    h1 {
        text-align: center;
        font-size: 2rem;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    max-width: 50%;
    margin: 0 auto;
    align-items: center;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

.left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    filter: brightness(1.5);
}

.title {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.value {
    font-size: 0.95rem;
}

.card {
    background-color: var(--color-secondary);
    padding: 2rem;
    border-radius: 1rem;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card p {
    margin-bottom: 1rem;
}

.event {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-accent);
    font-weight: 500;
    p {
        margin: 0;
    }
}

.mission__container {
    width: 100%;
    padding: 5rem 0;
    background-color: var(--color-secondary-dark);
    display: flex;
}

.mission {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    line-height: 1.5;
    max-width: 50%;
    margin: 0 auto;
    font-size: 1.25rem;
}
