.mission__container {
    width: 100%;
    padding: 5rem 0;
    background-color: var(--color-secondary-dark);
    display: flex;
}

.mission {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    line-height: 1.5;
    max-width: 50%;
    margin: 0 auto;
    font-size: 1.25rem;
    @media (max-width: 768px) {
        max-width: 90%;
        padding: 2rem 2rem;
        margin: 0 auto;
    }
}